//font link raleway
@font-face {
    font-family: 'raleway';
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-black.eot');
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-black.eot?#iefix') format('embedded-opentype'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-black.woff2') format('woff2'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-black.woff') format('woff'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'raleway';
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-lightitalic.eot');
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-lightitalic.eot?#iefix') format('embedded-opentype'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-lightitalic.woff2') format('woff2'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-lightitalic.woff') format('woff'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-lightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'raleway';
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-extralight.eot');
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-extralight.eot?#iefix') format('embedded-opentype'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-extralight.woff2') format('woff2'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-extralight.woff') format('woff'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'raleway';
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-bolditalic.eot');
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-bolditalic.eot?#iefix') format('embedded-opentype'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-bolditalic.woff2') format('woff2'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-bolditalic.woff') format('woff'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-bolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'raleway';
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-blackitalic.eot');
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-blackitalic.eot?#iefix') format('embedded-opentype'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-blackitalic.woff2') format('woff2'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-blackitalic.woff') format('woff'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-blackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'raleway';
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-italic.eot');
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-italic.eot?#iefix') format('embedded-opentype'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-italic.woff2') format('woff2'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-italic.woff') format('woff'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'raleway';
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-bold.eot');
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-bold.eot?#iefix') format('embedded-opentype'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-bold.woff2') format('woff2'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-bold.woff') format('woff'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'raleway';
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-light.eot');
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-light.eot?#iefix') format('embedded-opentype'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-light.woff2') format('woff2'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-light.woff') format('woff'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'raleway';
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-extralightitalic.eot');
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-extralightitalic.eot?#iefix') format('embedded-opentype'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-extralightitalic.woff2') format('woff2'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-extralightitalic.woff') format('woff'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-extralightitalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'raleway';
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-extrabolditalic.eot');
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-extrabolditalic.eot?#iefix') format('embedded-opentype'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-extrabolditalic.woff2') format('woff2'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-extrabolditalic.woff') format('woff'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-extrabolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'raleway';
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-extrabold.eot');
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-extrabold.eot?#iefix') format('embedded-opentype'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-extrabold.woff2') format('woff2'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-extrabold.woff') format('woff'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-extrabold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'raleway';
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-semibold.eot');
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-semibold.eot?#iefix') format('embedded-opentype'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-semibold.woff2') format('woff2'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-semibold.woff') format('woff'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'raleway';
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-thinitalic.eot');
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-thinitalic.eot?#iefix') format('embedded-opentype'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-thinitalic.woff2') format('woff2'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-thinitalic.woff') format('woff'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-thinitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'raleway';
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-thinitalic_1.eot');
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-thinitalic_1.eot?#iefix') format('embedded-opentype'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-thinitalic_1.woff2') format('woff2'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-thinitalic_1.woff') format('woff'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-thinitalic_1.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'raleway';
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-mediumitalic.eot');
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-mediumitalic.eot?#iefix') format('embedded-opentype'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-mediumitalic.woff2') format('woff2'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-mediumitalic.woff') format('woff'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-mediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'raleway';
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-thinitalic_2.eot');
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-thinitalic_2.eot?#iefix') format('embedded-opentype'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-thinitalic_2.woff2') format('woff2'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-thinitalic_2.woff') format('woff'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-thinitalic_2.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'raleway';
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-semibolditalic.eot');
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-semibolditalic.eot?#iefix') format('embedded-opentype'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-semibolditalic.woff2') format('woff2'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-semibolditalic.woff') format('woff'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-semibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'raleway';
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-thin.eot');
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-thin.eot?#iefix') format('embedded-opentype'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-thin.woff2') format('woff2'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-thin.woff') format('woff'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'raleway';
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-medium.eot');
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-medium.eot?#iefix') format('embedded-opentype'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-medium.woff2') format('woff2'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-medium.woff') format('woff'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'raleway';
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-regular.eot');
    src: url('..coffeedrop/inc/assets/fonts/raleway/raleway-regular.eot?#iefix') format('embedded-opentype'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-regular.woff2') format('woff2'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-regular.woff') format('woff'),
        url('..coffeedrop/inc/assets/fonts/raleway/raleway-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

