//genreal 
.section
	padding-top 140px
	padding-bottom 140px

.padding-half
	padding-top 70px
	padding-bottom 70px
	
.half-top
	padding-top 70px

.animate__fadeIn
	animation-delay: 0ms;

.animate__delay-01s
	animation-delay: 150ms;

.animate__delay-02s
	animation-delay: 250ms;

.animate__delay-03s
	animation-delay: 350ms;

.animate__delay-04s
	animation-delay: 450ms;

.animate__delay-05s
	animation-delay: 550ms;

	
a
	text-decoration none
	color default-colour
	transition trans
	&:hover
		color white-colour

.tac
	text-align center

.ptn
	padding-top 0

 






