//NORMAL 
@font-face {
    font-family: "JosefinSans";
    src: url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-VariableFont_wght.ttf") format("truetype"),
         url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-ExtraLight.ttf") format("truetype"),
         url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-ExtraLight.woff") format("woff"),
         url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-ExtraLight.woff2") format("woff2");
    font-weight: 100; 
    font-display: swap;
}
@font-face {
    font-family: "JosefinSans";
    src: url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-VariableFont_wght.ttf") format("truetype"),
         url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-Light.ttf") format("truetype"),
         url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-Light.woff") format("woff"),
         url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-Light.woff2") format("woff2");
    font-weight: 200; 
    font-display: swap;
}
@font-face {
    font-family: "JosefinSans";
    src: url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-VariableFont_wght.ttf") format("truetype"),
         url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-Thin.ttf") format("truetype"),
         url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-Thin.woff") format("woff"),
         url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-Thin.woff2") format("woff2");
    font-weight: 300; 
    font-display: swap;
}
@font-face {
    font-family: "JosefinSans";
    src: url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-VariableFont_wght.ttf") format("truetype"),
         url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-Regular.ttf") format("truetype"),
         url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-Regular.woff") format("woff"),
         url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-Regular.woff2") format("woff2");
    font-weight: 500; 
    font-display: swap;
}
@font-face {
    font-family: "JosefinSans";
    src: url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-VariableFont_wght.ttf") format("truetype"),
         url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-Medium.ttf") format("truetype"),
         url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-Medium.woff") format("woff"),
         url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-Medium.woff2") format("woff2");
    font-weight: 600; 
    font-display: swap;
}
@font-face {
    font-family: "JosefinSans";
    src: url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-VariableFont_wght.ttf") format("truetype"),
         url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-SemiBold.ttf") format("truetype"),
         url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-SemiBold.woff") format("woff"),
         url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-SemiBold.woff2") format("woff2");
    font-weight: 700; 
    font-display: swap;
}
@font-face {
    font-family: "JosefinSans";
    src: url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-VariableFont_wght.ttf") format("truetype"),
         url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-bold.ttf") format("truetype"),
         url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-bold.woff") format("woff"),
         url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-bold.woff2") format("woff2");
    font-weight: 900; 
    font-display: swap;
}

@font-face {
    font-family: "JosefinSans";
    src: url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-VariableFont_wght.ttf") format("truetype");
    font-weight: 1 999;  
    font-display: swap;
}

@font-face {
    font-family: "JosefinSans";
    src: url("../fc/inc/assets/fonts/JosefinSans/JosefinSans-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 1 999;  
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Train One';
    src: url('../fc/inc/assets/fonts/TrainOne/TrainOne-Regular.eot'),
        url('../fc/inc/assets/fonts/TrainOne/TrainOne-Regular.woff2') format('woff2'),
        url('../fc/inc/assets/fonts/TrainOne/TrainOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ShadowsIntoLight';
    src: url('../fc/inc/assets/fonts/ShadowsIntoLight/ShadowsIntoLight.eot'),
        url('../fc/inc/assets/fonts/ShadowsIntoLight/ShadowsIntoLight.woff2') format('woff2'),
        url('../fc/inc/assets/fonts/ShadowsIntoLight/ShadowsIntoLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
 