#masthead
    position: fixed;
    left: 0;
    top: 0;
    padding-top 15px
    width: 100%;
    z-index: 9999; 
    

.navbar-toggler
    border: none !important
    position relative
    padding-top 20px
    padding 0 !important
    &:before
        position absolute
        left 3px 
        top 24px
        width calc(100% - 6px)
        content ""
        height 2px
        background #000   
        transition 0.5s           
        display block

    &:after
        position absolute
        left 3px 
        top 16px
        width calc(100% - 6px)
        content ""
        height 2px
        background #000              
        display block
        transition 0.5s
        
    .navbar-toggler-icon
        position relative
        background none !important
        padding 0
        &:before
            position absolute
            left 3px 
            top 0
            width calc(100% - 6px)
            content ""
            height 2px
            background #006eff              
            display block
        
        &:after
            position absolute
            left 3px 
            top 8px
            width calc(100% - 6px)
            content ""
            height 2px
            background #000              
            display block
            transition 0.5s
        
    &:hover
        &:before
        &:after
        .navbar-toggler-icon:after
            background #006eff              
            
//menu 
.navbar-nav
    padding-top 10px 
    position relative   
    opacity 1
    transition: 0.6s; 
       




//hamberger on
@media only screen and (max-width: 1199px)
    .alt-hidden
        display none !important
    
    #masthead
        padding-top: 25px;
        background none
    
    .navbar-nav
        width: auto;
        display: inline-block; 
        background: rgba(255,255,255,0.7);
        padding: 15px 15px 10px 25px;
        border-radius: 20px;
        margin-top 10px
        
        li
            position: relative;
            z-index: 99;
            display: inline-block;
            margin-right: 30px;
            margin-top: 14px;
           
           .nav-link
                color black-colour !important
                font-size: 1.4em;
                position relative
                padding-left 16px !important
                padding-top 10px !important 
                font-weight 900
                &:before
                    content: "\f0c2";
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    color: white; 
                    width: auto;
                    z-index: -1;
                    height: auto;  
                    transform: translate(-50%,-50%);
                    position: absolute;
                    filter: drop-shadow(0 0 4px rgba(0,0,0,0.15))
                    -webkit-filter: drop-shadow(0 0 4px rgba(0,0,0,0.15))
             
                &:hover 
                    color default-colour !important
            
//hamberger off
@media only screen and (min-width: 1200px)
    .alt-hidden
        display block !important
    
    .navbar-nav

        #main-nav
            background: rgba(255,255,255,0.7);
            border-radius: 20px;
            padding: 20px;
            
       .nav-link
            color black-colour !important
            font-weight 900
            &:hover 
                color default-colour !important
        

        
    


